<!-- Category Navigation -->

<nav
  class="navbar navbar-expand-lg navbar-brand"
  id="cateBar"
  style="width: 100%; margin-bottom: 30px; font-size: 13px"
>
  <div class="container">
    <div class="collapse navbar-collapse" id="listBarResponsive">
      <ul class="navbar-nav ml-auto">
        <% for (var i=0; i < categories.length; i++) { %> 
         
        <li class="nav-item">
<<<<<<< HEAD
          <a class="nav-link" href="/postlist/<%= categories[i]._id %>">
=======
          <a class="nav-link" href="/<%= categories[i]._id %>">
>>>>>>> parent of e706f07 (3.admin공지등록 권한, 7.카테고리별 모아보기 중 post에 카테고리 ID부여)
            <%=categories[i].name%><%=categories[i].grade %>
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

          <div class="collapse navbar-collapse" id="listBarResponsive">
            <ul class="navbar-nav ml-auto">

              <% for (var i=0; i < categories.length; i++) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/postlist?id=<%= categories[i]._id %>"> 
                    <%=categories[i].name%>
                </li>
                </a>
                <% } %>

            </ul>
          </div>
        </div>
      </nav>

      <!-- Category Navigation End -->
