<!-- Category Navigation -->
<style>
  .containers:hover .needtohidden {
    background-color: #0085a1;
    text-align: center;
    display: block;
    animation: views 1s;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
  }

  .needtohidden {
    display: none;
  }

  .maintext {
    text-align: center;
    display:table;
    margin-left: auto;
    margin-right: auto;
  }

  @keyframes views {
    from { opacity: 0%; }
    to {opacity: 100%; }
}
</style>

<nav class="navbar navbar-expand-lg navbar-brand" id="cateBar"
  style="width: 100%; font-size: 13px;">
  <div class="container">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#listBarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Category
      <i class="fas fa-bars"></i>
    </button>
    
    <div class="collapse navbar-collapse" id="listBarResponsive">
      <ul class="navbar-nav ml-auto" style="border: 1px; text-align: center; ">
        <% for (var i=0; i < categories.length; i++) { %>
          <li class="containers" style="font-family:'Times New Roman', Times, serif; 
          font-size: 16px; padding-top: 10px; height: 75px;">
                <a href= "/postlist/<%= categories[i]._id %>">
                  <div style="text-align:initial; margin: 0 auto;"> 
                  <span class="maintext">
                  
                  <% if (categories[i].name.length>= 12) { %>
                    &nbsp; &nbsp;<%=categories[i].name.substring(0, 10) + "…"%>&nbsp; &nbsp;
                  <% } else { %>
                    &nbsp; &nbsp;<%=categories[i].name%>&nbsp; &nbsp;
                  <% } %>
                </span>
                <span class="needtohidden">
                  <% if (categories[i].name.length>= 12) { %>
                    <%=categories[i].name%></br>
                  <% } %>
                  <%=categories[i].grade%> 이상 게시판</span>
                </div>
            </a>
          </li>

        <% } %>  

      </ul>
    </div>
  </div>
</nav>

<!-- Category Navigation End -->