<div class="container">
    <div class="row">
        
        <%- include('leftcategory'); -%>
        
            
        <div class="col-lg-8 col-md-10 mx-auto">
            <% if (blogposts.length === 0) { %>
            <div style="font-family: SAir; font-size: 20px; text-align: center; margin: 200px 0px 200px 0px">게시글이 없습니다.</div>
            <%} else { %>
                <span class="float-right" style="font-family: SAir; font-size: 14px;"><%=(blogposts.length)%>개 게시글</span>
            <%}%>
            <div style="height: 20px;"></div>
            <% var show = blogposts.length-1 %>
            <% var counter = 0 %>
            <% for (var i=show; i >= 0; i--) { %>
                <% if (blogposts[i].notice == true) { %>
                    <%counter++;%>
                    <!-- 공지사항 5개까지 상위에 고정 -->
                    <%if (counter == 6) break %>
                <div class="post-preview" style="margin-top: 20px;">
                    <a href="/posts/post/<%= blogposts[i]._id %>">

                        <div style="font-size: 15px; color: crimson; font-family: 'YESerif'; 
                        font-style: bold;">
                            
                                <%= "공지사항" %>
                            
                        <span style="font-size: 14px; color: #787878; font-family: 'YESerif'; margin-left: 3px;">
                            <%=blogposts[i].category.name%>
                        </span>
                        </div>

                        <h2 class="post-title" style="margin-top: 8px;">
                        <%= blogposts[i].title %> </h2>

                    </a>
                    
                        <% var y, m, d %>
                        <% y = blogposts[i].datePosted.getYear() + 1900 %>
                        <% if (blogposts[i].datePosted.getMonth()+1 < 10 ) {%>
                        <% m = '0'+String( blogposts[i].datePosted.getMonth()+1 )%>
                        <% } else { m = blogposts[i].datePosted.getMonth()+1 } %>
                        <% if (blogposts[i].datePosted.getDate() < 10 ) { %>
                        <% d = '0'+String( blogposts[i].datePosted.getDate() )%>
                        <% } else { d = blogposts[i].datePosted.getDate() } %>

                    <p class="post-meta">
                    By : &nbsp;<span style="color: rgb(117, 114, 172);"><%= blogposts[i].userid.username %></span> </br>
                    Date : &nbsp;<%=y%>-<%=m%>-<%=d%>
                    </p>
                </div>
                <hr />
            <% } %>
        <% } %>     

        
        <% var show = blogposts.length-1 %>
            <% var counter = 0 %>
            <% for (var i=show; i >= 0; i--) { %>
                <% if (blogposts[i].notice == false) { %>
                <div class="post-preview" style="margin-top: 20px;">
                    <a href="/posts/post/<%= blogposts[i]._id %>">

                        <div style="font-size: 14px; color: #787878; font-family: 'YESerif'; margin-left: 3px;">
                            <%=blogposts[i].category.name%>
                        </div>

                        <h2 class="post-title" style="margin-top: 8px;">
                        <%= blogposts[i].title %> </h2>

                    </a>
                    
                        <% var y, m, d %>
                        <% y = blogposts[i].datePosted.getYear() + 1900 %>
                        <% if (blogposts[i].datePosted.getMonth()+1 < 10 ) {%>
                        <% m = '0'+String( blogposts[i].datePosted.getMonth()+1 )%>
                        <% } else { m = blogposts[i].datePosted.getMonth()+1 } %>
                        <% if (blogposts[i].datePosted.getDate() < 10 ) { %>
                        <% d = '0'+String( blogposts[i].datePosted.getDate() )%>
                        <% } else { d = blogposts[i].datePosted.getDate() } %>

                    <p class="post-meta">
                    By : &nbsp;<span style="color: rgb(117, 114, 172);"><%= blogposts[i].userid.username %></span> </br>
                    Date : &nbsp;<%=y%>-<%=m%>-<%=d%>
                    </p>
                </div>
                <hr />
            <% } %>
        <% } %>
            <!-- Pager -->
        <ul class="pager" style="list-style: none; padding:0px">
            <li class="previous" style="display: inline;">
                <a class="btn btn-primary" href="/<%i%>" style="margin:10px 0px 10px 10px; 
                padding: 5px 15px 5px 15px; width: 110px;">
                    previous</a>
            </li>

            <li class="next" style="display: inline;">
                <a class="btn btn-primary float-right" href="/<%i%>" style="margin:10px 10px 10px 0px; 
                padding: 5px 15px 5px 15px; width: 110px">N e x t</a>
            </li>
        </ul>


</div>
</div>

<hr />