<div class="container">
    <div class="row">
        
        <%- include('leftcategory'); -%>
        
        <div class="col-lg-8 col-md-10 mx-auto">
            <% for (var i=blogposts.length-1; i >= 0; i--) { %>
            <div class="post-preview">
                <a href="/post/<%= blogposts[i]._id %>">
                    <h2 class="post-title"> <%= blogposts[i].title %> </h2>
                </a>
                
                    <% var y, m, d %>
                    <% y = blogposts[i].datePosted.getYear() + 1900 %>
                    <% if (blogposts[i].datePosted.getMonth()+1 < 10 ) {%>
                    <% m = '0'+String( blogposts[i].datePosted.getMonth()+1 )%>
                    <% } else { m = blogposts[i].datePosted.getMonth()+1 } %>
                    <% if (blogposts[i].datePosted.getDate() < 10 ) { %>
                    <% d = '0'+String( blogposts[i].datePosted.getDate() )%>
                    <% } else { d = blogposts[i].datePosted.getDate() } %>

                <p class="post-meta">
                By: <span style="color: rgb(117, 114, 172);"><%= blogposts[i].userid.username %></span> </br>
                Date: <%=y%>-<%=m%>-<%=d%>
                </p>
            </div>
            <hr />
        <% } %>
        <!-- Pager -->
        </div>
    </div>
    <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
    </div>
</div>

<hr />