<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>
      <!-- Page Header -->
      <header class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                <h1>Clean Blog</h1>
                <span class="subheading">A Blog Theme by Start Bootstrap</span>
              </div>
            </div>
          </div>
        </div>
      </header>

    <%- include('layouts/listbar'); -%>
      <!-- Main Content -->
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
              <a href="/users">
                <h2 class="post-title">
                  Manage Users
                </h2>
              </a>
                <hr />
              
              <a href="/categories">
              <h2 class="post-title">
                Manage Category
              </h2>
            </a>

          </br>


              <!-- <% for (var i=0; i < users.length; i++) { %>
                <div class="post-preview">
                  <p class="post-meta">
                    <a href="/admin/<%= users[i]._id %>">
                      <%= users[i].username %>
                    </a>
                  </p>
                </div>
                <hr />
                <% } %> -->

                  <!-- Pager -->
                  <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                  </div>
            </div>
          </div>
        </div>

        <hr />

        <%- include('layouts/footer'); -%>
          <%- include('layouts/scripts'); -%>
  </body>

</html>