<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>
      <!-- Page Header -->
      <header class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                <h1>Admin Page</h1>
                <!-- <span class="subheading">A Blog Theme by Start Bootstrap</span> -->
              </div>
            </div>
          </div>
        </div>
      </header>

      <%- include('layouts/categorybar'); -%>
    
        <!-- Main Content -->
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-preview">
                <a href="/userlist">
                  <h2 class="post-title"> Manage Users </h2>
                  <span class="meta"> 사용자 기본 정보 관리 </span>
                </a>
                <hr/>

                <a href="/categories">
                  <h2 class="post-title"> Manage Category </h2>
                  <span class="meta"> 게시판 관리 </span>
                </a>

                </br>
              </div>
            </div>
            </form>

          </div>

          <hr />

          <%- include('layouts/footer'); -%>
            <%- include('layouts/scripts'); -%>
  </body>

</html>