<!DOCTYPE html>
<html lang="en">

  <style>
    .control-group {
      font-family: 'YESerif';
    }
  
    .form-group {
      font-family: 'YESerif' !important;
    }
  
    .form-control {
      font-family: 'YESerif' !important;
    }
    
  </style>
<%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>

      <!-- Page Header -->
      <header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="page-heading">
                <h1 style="font-size: 75px;">Manage Categories</h1>
              </div>
            </div>
          </div>
        </div>
      </header>

      <%- include('layouts/categorybar'); -%>

        <!-- Main Content -->
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <!-- for browser to know tha tthe form contains mutli media. will encripy multie media and send to server -->
              <h2 class="post-preview" style="font-size: 1.6rem; border-color: white !important; 
              font-family: 'YESerif' !important;">새 게시판 생성 </h2>
              <form id='mainForm' action="/categories/store" method="POST" enctype="multipart/form-data">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls" style="border-bottom: 0px solid white !important">
                    <label>Category Name</label>
                    <input type="text" class="form-control" placeholder="Category Name" id="name" name="name" form='mainForm' />
                  </br>

                  <span style="font-size: 17px; margin-left: 20px;">등급 제한 &nbsp; &nbsp; &nbsp; </span>

                    <input type="radio" id="<%= grade.AMEBA %>" 
                    name="grade" value="<%= grade.AMEBA %>" checked> &nbsp;<%= grade.AMEBA %> &nbsp; &nbsp; &nbsp;
  
                    <input type="radio" id="<%= grade.GINDGI %>"
                    name="grade" value="<%= grade.GINDGI %>">        &nbsp;<%= grade.GINDGI %> &nbsp; &nbsp; &nbsp;
  
                    <input type="radio" id="<%= grade.DAKDULGI %>"
                    name="grade" value="<%= grade.DAKDULGI %>">      &nbsp;<%= grade.DAKDULGI %> &nbsp; &nbsp; &nbsp;

                  </div>
                </div>

                <div class="form-group" style="padding-bottom: 60px; margin-top: 20px; border-color: white !important;">
                  <button type="submit" class="btn btn-primary float-right" id="sendMessageButton" form="mainForm">
                    Send
                  </button>
                </div>
                <hr style="border-color: navy;">
                <div>
                  <div class="post-preview" style="margin-top: 40px; margin-bottom: 40px;">
                    <h2 class="post-preview" style="font-size: 1.6rem; border-color: white !important; 
                    font-family: 'YESerif' !important;">현재 게시판 관리 </h2>
                  </div>
                  <% for (var i=0; i < categories.length; i++) { %>
                    <form id='subForm<%= i %>' action="/categories/delete" method="POST" enctype="multipart/form-data">
                      <div class="post-preview">
                        <p class="categories" style="font-family: 'YESerif'; font-size: 22px;">
                          <input type='text' name='name' value='<%= categories[i].name %>' style="display: none;"
                            form="subForm<%= i %>">
                          <span style="display: inline-block; margin-left: 20px !important; width: 300px;">
                            <%= categories[i].name %>
                            
                          </br>
                            <span style="font-size: small; color: navy">'<%=categories[i].grade%>' 이상 게시판 </span>
                          </span>
                          <!-- submit 이라서 alert가 안되는 거 같아요.  confirm(alert yes/no)를 띄워야할 거 같아요.  https://coding-factory.tistory.com/198-->
                          <button type="submit" class="btn btn-primary delete float-right" form="subForm<%= i %>" style="font-family: 'YESerif';
                          background-color: crimson; border-radius: 5px; border-color: white; height: 40px; padding: 10px 20px; line-height: 0px;
                          font-size: 18px; margin-top: 35px;";>
                            삭제
                          </button>
                        </p>
                      </div>
                    </form>
                    <hr />
                    <% } %>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>

        <hr />
        <%- include('layouts/footer'); -%>
          <%- include('layouts/scripts'); -%>
  </body>

</html>