<!DOCTYPE html>
<html lang="en">
<header>

</header>
<%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>

      <!-- Page Header -->
      <header class="masthead" style="background-image: url('<%= blogpost.image %>')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <h2>
                  <%= blogpost.title %>
                </h2>

                <span class="meta" style="font-size: 17px;">Posted by
                  <a href="#">
                    <%= blogpost.userid.username %>
                  </a>
                  on <%= blogpost.datePosted.toDateString() %>
                    <hr style="border-color: aliceblue;">
                    </hr>
                </span>

                <span class="meta">
                  <% if (blogpost.body[0].length>= 70) { %>
                    <h2 class="subheading" style="font-size: 16px; line-height: 180%; margin-top: -9px;
                    font-style: normal !important; font-weight:normal !important; font-family: open sans;">
                      <%= blogpost.body[0].substring(0, 75) + " ⋯⋯" %>
                    </h2>
                    <% } else {%>
                      <%- blogpost.body[0] -%>
                        <% } %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <%- include('layouts/categorybar'); -%>

        <!-- Post Content -->
        <article>
          <div class="container">
            <div class="row">

              <%- include('layouts/leftcategory'); -%>
              
              <div class="col-lg-8 col-md-10 mx-auto" style="font-size: 14px; font-family: 'YESerif'; line-height: 175%">
                <div>
                  <% for (var i=0; i < blogpost.body.length; i++) { %>
                    <%= blogpost.body[i] %>
                    <div style="height: 16px;"></div>
                  <% } %>
                

                <% if (blogpost.userid._id.toString() === loggedIn ){ %>
                <div style="height: 40px; margin-top:20px">
                  
                  <a href="/posts/delete" class="btn btn-primary post float-right" style="height: 40px; line-height: 70%; margin-right: 1rem">DELETE</a>
                  <a href="/posts/modify" class="btn btn-primary post float-right" style="height: 40px; line-height: 70%; margin-right: 12px">MODIFY</a>
                  
                </div>
                  <% } %>

                <hr/>
              </div>

              <div>
                <div style="padding-left: 17px; padding-bottom: 5px; font-family: SAir;">댓글 작성</div>
                  <form action="/comment/store" method="POST" enctype="multipart/form-data" style=
                  "font-family: 'YESerif' !important; width: inherit; margin-bottom: 75px;">           
                    <div class="control-group">
                    <div class="form-group floating-label-form-group controls" style="border-bottom: none !important;">
                      <textarea rows="3" id="body" name="body" required
                      style="border: 1px #DDE solid; font-family: 'YESerif'; margin-left: 2.5%; 
                      font-size: 0.9rem; width: 95%; display: block;"></textarea>
                    </div>
                  </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary float-right" id="sendMessageButton" 
                      class="navbar-toggler" style="margin: 0.6rem 1rem 0.3rem 0.3rem; 
                      padding: 10px 15px 10px 15px; position: relative;">comment</button>
                    </div>
                  </form>
                
              </div>
                <%- include('layouts/comment'); -%>
              

            </br>

          </div>
        </div>
      </article>
      <hr />
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
  </body>

</html>