<!DOCTYPE html>
<html lang="en">
  <style type="text/css">
  .post { height: auto !important;
          width: 100px;
          padding: 8px !important;}
    
  .containers:hover {
    background-color: white !important;
    border-radius: 10px !important;
  }
  .containers:hover .needtohidden {
    background-color: navy;
    text-align: center;
    display: block;
    animation: views 0.5s;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    }
  
  .needtohidden {
    display: none;
  }
  
  .maintext {
    text-align: center;
    display:table;
    margin-left: auto;
    margin-right: auto;
  }
  
  @keyframes views {
    from { opacity: 0%; }
    to {opacity: 100%; }
  }

</style>

<%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>

      <!-- Page Header -->
      <header class="masthead" style="background-image: url('<%= blogpost.image %>')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <h1>
                  <%= blogpost.title %>
                </h1>

                <span class="meta">Posted by
                  <a href="#">
                    <%= blogpost.userid.username %>
                  </a>
                  on <%= blogpost.datePosted.toDateString() %>
                    <hr style="border-color: aliceblue;">
                    </hr>
                </span>

                <span class="meta">
                  <% if (blogpost.body[0].length>= 70) { %>
                    <h2 class="subheading" style="font-size: 18px; line-height: 180%; margin-top: -9px;
                  font-weight: 100 !important; font-style: oblique !important; font-family: 'KOTRA_BOLD-Bold' !important;">
                      <%= blogpost.body[0].substring(0, 70) + " ……" %>
                    </h2>
                    <% } else {%>
                      <%- blogpost.body[0] -%>
                        <% } %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <%- include('layouts/categorybar'); -%>

        <!-- Post Content -->
        <article>
          <div class="container">
            <div class="row">

              <%- include('layouts/leftcategory'); -%>
              
              <div class="col-lg-8 col-md-10 mx-auto" style="font-size: 14px; font-family: 'YESerif'; line-height: 175%;">
                <% for (var i=0; i < blogpost.body.length; i++) { %>
                  <%= blogpost.body[i] %>
                  </br>
                <% } %>
              </div>
            </div>
            <div class="container" style="position: relative; width:max-content;">
            </br>
              <a href="/posts/modify" class="btn btn-primary post" >MODIFY</a>
              <a href="/posts/delete" class="btn btn-primary post" >DELETE</a>
            </div>
            </div>
          </div>

        </article>


        <hr />
        <%- include('layouts/footer'); -%>
          <%- include('layouts/scripts'); -%>
  </body>

</html>