<!DOCTYPE html>
<html lang="en">
<header>

</header>
<%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>

      <!-- Page Header -->
      <header class="masthead" style="background-image: url('<%= blogpost.image %>')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <h2>
                  <%= blogpost.title %>
                </h2>
                <span class="meta" style="font-size: 17px;">
                  <% var y, m, d %>
                  <% y = blogpost.datePosted.getYear() + 1900 %>
                  <% if (blogpost.datePosted.getMonth()+1 < 10 ) {%>
                  <% m = '0'+String( blogpost.datePosted.getMonth()+1 )%>
                  <% } else { m = blogpost.datePosted.getMonth()+1 } %>
                  <% if (blogpost.datePosted.getDate() < 10 ) { %>
                  <% d = '0'+String( blogpost.datePosted.getDate() )%>
                  <% } else { d = blogpost.datePosted.getDate() } %>

                <p class="post-meta" style="margin: 0px 0px 0px 5px; font-size: 14px; font-family: 'YESerif';
                font-style: normal;">
                작성자: <span style="color: aliceblue;"><%= blogpost.userid.username %></span> <br/>
                작성일: <%=y%>-<%=m%>-<%=d%>
                </p>
              </span>

                <hr style="border-color: aliceblue; margin: 10px 0px 10px 0px;"></hr>

                <span class="meta" style="font-size: 1rem; line-height: 180%; margin: 0px 0px 0px 10px;
                font-weight:normal !important; font-family: 'YESerif' !important; font-style: normal !important;">
                  <% if (blogpost.body[0].length>= 70) { %>
                    <h2 class="subheading" style="font-size: 1rem; line-height: 180%;
                    font-weight:normal !important; font-family: 'YESerif' !important; font-style: normal !important;">
                      <%= blogpost.body[0].substring(0, 75) + " ⋯⋯" %>
                    <% } else {%>
                      <%- blogpost.body[0] -%>
                        <% } %>
                    </h2>
                </span>
              </div>
            
          </div>
        </div>
      </div>
    </header>

      <%- include('layouts/categorybar'); -%>

        <!-- Post Content -->
        <article>
          <div class="container">
            <div class="row">

              <%- include('layouts/leftcategory'); -%>
              
              <div class="col-lg-8 col-md-10 mx-auto" style="font-size: 14px; font-family: 'YESerif'; line-height: 175%">
                <div>
                  <% for (var i=0; i < blogpost.body.length; i++) { %>
                    <%= blogpost.body[i] %>
                    <div style="height: 16px;"></div>
                  <% } %>
                

                <% if (blogpost.userid._id.toString() === loggedIn ){ %>
                <div style="height: 40px; margin-top:15px">
                  
                  <a href="/posts/delete" class="btn btn-primary post float-right" style="height: 40px; line-height: 70%; margin-right: 1rem">DELETE</a>
                  <a href="/posts/modify" class="btn btn-primary post float-right" style="height: 40px; line-height: 70%; margin-right: 12px">MODIFY</a>
                  
                </div>
                  <% } %>

                <hr/>
              </div>

              <div>
                <div style="padding-left: 17px; padding-bottom: 5px; font-family: SAir;">댓글 작성</div>
                  <form action="/comment/store" method="POST" enctype="multipart/form-data" style=
                  "font-family: 'YESerif' !important; width: inherit; margin-bottom: 75px;">           
                    <div class="control-group">
                    <div class="form-group floating-label-form-group controls" style="border-bottom: none !important;">
                      <textarea rows="3" id="body" name="body" required
                      style="border: 1px #DDE solid; font-family: 'YESerif'; margin-left: 2.5%; 
                      font-size: 0.9rem; width: 95%; display: block;"></textarea>
                    </div>
                  </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary float-right" id="sendMessageButton" 
                      class="navbar-toggler" style="margin: 0.6rem 1rem 0.3rem 0.3rem; 
                      padding: 10px 15px 10px 15px; position: relative;">comment</button>
                    </div>
                  </form>
                
              </div>
                <%- include('layouts/comment'); -%>
              

            </br>

          </div>
        </div>
      </article>
      <hr />
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
  </body>

</html>