<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
<style>
    .t { text-decoration: none !important; }
    .t:hover { background-color: aliceblue; margin: 1px}
</style>

    <body>
        <%- include('layouts/navbar'); -%>
            <!-- Page Header -->
            <header class="masthead" style="background-image: url('img/home-bg.jpg')">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <div class="site-heading">
                                <h1>Clean Blog</h1>
                                <span class="subheading">A Blog Theme by Start Bootstrap</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <%- include('layouts/categorybar'); -%>
            <!-- Main Content -->


                <form action="/userlist/store" method="POST" enctype="multipart/form-data">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-10 mx-auto">
                                <% for (var i=0; i < users.length; i++) { %>
                                    <div class="post-preview" >
                                        <p class="post-meta" style="margin: -3px !important;">

                                            <span style="display: inline-block; width: 250px;">
                                                &nbsp; &nbsp; &nbsp;
                                                <a class="t" href="/admin/<%= users[i]._id %>">
                                                    <%= users[i].username %>
                                                </a>
                                            </span>
                                            
                                            <input type="radio" id="<%= grade.AMEBA %>"
                                            name=<%= users[i]._id %> 
                                            <% if (users[i].grade === grade.AMEBA ) {%>
                                                <%="checked"%>
                                            <% } %>
                                            >&nbsp;   <%= grade.AMEBA %> &nbsp; &nbsp; &nbsp;

                                            <input type="radio" id="<%= grade.GINDGI %>"
                                            name=<%= users[i]._id %>
                                            <% if (users[i].grade === grade.GINDGI ) {%>
                                                <%="checked"%>
                                            <% } %>
                                            >&nbsp;   <%= grade.GINDGI %> &nbsp; &nbsp; &nbsp;

                                            <input type="radio" id="<%= grade.DAKDULGI %>"
                                            name=<%= users[i]._id %>
                                            <% if (users[i].grade === grade.DAKDULGI ) {%>
                                                <%="checked"%>
                                            <% } %>
                                            >&nbsp;   <%= grade.DAKDULGI %> &nbsp; &nbsp; &nbsp;

                                        </p>
                                    </div>
                                    <hr />
                                    <% } %>
                                        <!-- Pager -->
                                        <div class="clearfix">
                                            <button type='submit' class="btn btn-primary float-right" href="#">SAVE
                                                &rarr;</button>
                                        </div>
    </body>
    <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>

</html>