<%
    var posts = [], notices = [];
    for(let i = 0; i < blogposts.length; ++i) {
        blogposts[i].notice ?  notices.push(blogposts[i]) : posts.push(blogposts[i]) ;
    }
%>

<script>
    var index = 0;
    setIndex = n => {
        index = n;
        let pages = document.getElementsByClassName('postpage');
        for(let i = 0; i < pages.length; ++i) {
            i != n ? pages[i].style.display = 'none' :  pages[i].style.display = 'block';
        }
    }
    previousPage = () => {
        if(index > 0) setIndex(index - 1);
    }
    nextPage = () => {
        let pages = document.getElementsByClassName('postpage');
        if(index < pages.length - 1) setIndex(index + 1);
    }
</script>

<div class="container">
    <div class="row">
        
        <%- include('../leftcategory'); -%>
           
        <div class="col-lg-8 col-md-10 mx-auto">
            <!-- Just Title Image -->
            <% if (blogposts.length === 0) { %>
            <div style="font-family: SAir; font-size: 20px; text-align: center; margin: 200px 0px 200px 0px">게시글이 없습니다.</div>
            <%} else { %>
                <span class="float-right" style="font-family: SAir; font-size: 14px;"><%=(blogposts.length)%>개 게시글</span>
            <%}%>
            
            <!-- Just Title Image -->
            <div style="height: 20px;"></div>

            <!-- 공지사항 먼저 모두 가지고 오기 -->
            <% for (let i =  notices.length - 1; i >= 0; --i) { %>
                <%- include('./element', {element : notices[i]}) %>
            <% } %>
    
            <!-- 일반 게시글 10개씩 묶기 -->
            <% for (let i = 0; i < posts.length; ++i) {
                if (i % 10 == 0) { %>
                    <div id = 'page-<%=parseInt(i/10)%>' class='postpage'>
                <% } %>
                        <%- include('./element', {element : posts[i]}) %>
                <% if (i % 10 == 9 || i == posts.length - 1) { %>
                    </div>
                <% }
            } %>
            <script> setIndex(0); </script>

<!--------------------- Pagination ----------------------->
        <table>
            <tbody>
                <tr class="pagenation" style="list-style: none; padding:0px">
                    <td class="previous" style="display: inline;">
                        <button
                            class="btn btn-primary"
                            id='previousButton'
                            onclick='previousPage()'
                            style="margin:10px 0px 10px 10px; 
                            padding: 5px 15px 5px 15px; width: 110px;">
                            previous</button>
                    </td>
                    <% for (let i = 0; i < Math.ceil(posts.length / 10); ++i) { %>
                    <td>
                        <button onclick='setIndex("<%= i %>")'>
                            <%= i + 1 %>
                        </button>
                    </td>
                    <% } %>
                    <td class="next" style="display: inline;">
                        <button
                            class="btn btn-primary float-right"
                            id='nextButton'
                            onclick='nextPage()'
                            style="margin:10px 10px 10px 0px; 
                            padding: 5px 15px 5px 15px; width: 110px"
                        >
                            N e x t</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr />